<div class="min-h-screen bg-background flex flex-col ">
<app-navbar/>
  <!-- Center Card -->
  <main class="flex-1 flex items-center justify-center px-6 pb-18 sm:p-12 ">
    <div class="w-full max-w-xl">
<div class="w-full  sm:px-10 sm:py-10 
                  bg-transparent sm:bg-white 
                  shadow-none sm:shadow-card 
                 
                  rounded-lg">
        <!-- Heading -->
  <div class="text-left sm:text-center sm:pb-10 pt-8 pb-10">
          <h1 class="sm:text-[30px] text-[28px] font-semibold  text-navy leading-9">Create your workspace</h1>
          <p class="text-[14px] text-formText mt-1 leading-5">Join the curated environment for institutional trust
and task precision.</p>
        </div>

        <!-- Form -->
      <div class="pb-4">
          <app-sign-up-form />

      </div>

          <div class="flex items-center justify-center gap-1 mt-8 text-sm mb-4 text-formText">
      <span>Already have an account?</span>
      <a routerLink="/login" class="text-primaryForm hover:text-primary-container font-semibold">Log in</a>
    </div>
      </div>
      
    </div>


  </main>

    
</div>